body {
  margin : 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  scrollbar-face-color: blue;
}

/* css for right (slide) section */
.presentation {
  margin : auto;
  overflow: hidden;
}

.slide {
  font-size: 13pt;
  padding-top: 25px;
  padding-bottom: 25px;
}

#slide0 h1{
  background-color: #DADADA;
  padding: 10px;
  margin-right: 10px;
} 
/* css for left section */

.layout {
  width : 25%;
  position: fixed;
  overflow: hidden;
}

#custom{
  overflow: hidden;
  display: none;
}

#navList{
  float: left;
}

#controls{
  background-color:  #34495e;
  color: white;
}

#side {
  /*  padding-top: 5px;*/
  width : 92%;
  height : 100%;
  float: left;
  background-color: #34495e;
}


/*#custom-side{
  width : 92%;
  height: 100%;
  overflow: hidden;
  float: right;
  background-color: blue;
}*/

#controls {
  display: inline-block;
  width : 100%;
}

#navaLinks {
  font-family: 'Nanum Gothic', sans-serif;
  display: inline-block;
  width : 50%;
  font-weight: bold;
}

#buttons {
  width : 50%;
  display: inline-block;
  vertical-align: top;
}

#buttons a img{
  width : 23px;
  height: 23px;
  margin-right: 3px;
  float: right;
}

#index {
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

a:link, a:visited {
  color: #abb4be;
  text-decoration: none;
}

#index li{
  padding: 10px;
}

#index li:hover {
  background-color: black;
}

#footer {
  font-size: 9pt;
  font-family: 'Raleway', sans-serif;
  margin-top: 10vh;
}

/*#line {
  height:100%;
  width:2px;
  margin-left: 1%;
  background-color: #BEBEBE;
  float:left;
}*/

#fold {
  height: 100%;
  float: left;
  font-family: 'Nanum Gothic', sans-serif;
  /*color: #414141;*/
  color: white;
  background-color: black;
  opacity: 0.2;

}

#fold p {
  margin-top: 45vh;
  padding: 3px;
}

#footer{
  clear: both;
}

/*css for scroll (in webkit)*/
body::-webkit-scrollbar{width: 13px;}
body::-webkit-scrollbar-track {background-color:white;}
body::-webkit-scrollbar-thumb {background-color:#414141;border-radius: 5px;}
body::-webkit-scrollbar-thumb:hover {background: #555;}
body::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
  height:10px; background:white;}
  #index::-webkit-scrollbar{width: 8px;}
  #index::-webkit-scrollbar-track {background-color:#34495e;}
  #index::-webkit-scrollbar-thumb {background-color:#0088cc;border-radius: 10px;}
  #index::-webkit-scrollbar-thumb:hover {background: #0088cc;}
  #index::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    height:5px; background:#34495e;}