body {
  margin : 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  scrollbar-face-color: blue;
}

/* css for right (slide) section */
.presentation {
  margin : auto;
  overflow: hidden;
}

.slide {
  font-size: 13pt;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* css for left section */

.layout {
  width : 25%;
  position: fixed;
  overflow: hidden;
}

#side {
  padding-top: 5px;
  width : 92%;
  height : 100%;
  float: left;
}

#controls {
  display: inline-block;
  width : 100%;
}

#navaLinks {
  font-family: 'Nanum Gothic', sans-serif;
  display: inline-block;
  width : 50%;
  font-weight: bold;
}

#buttons {
  width : 50%;
  display: inline-block;
  vertical-align: top;
}

#buttons a img{
  width : 23px;
  height: 23px;
  margin-right: 3px;
  float: right;
}

#index {
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid #B2B2B3;
  border-bottom: 1px solid #B2B2B3;
  border-radius: 5px;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

a:link, a:visited {
  color: #414141;
  text-decoration: none;
}

#index li:hover {
  background-color: #BEBEBE;
}

#footer {
  font-size: 9pt;
  font-family: 'Raleway', sans-serif;
  margin-top: 10vh;
}

#line {
  height:100%;
  width:2px;
  margin-left: 1%;
  background-color: #BEBEBE;
  float:left;
}

#fold {
  width: 6%;
  height: 100%;
  float: left;
  font-family: 'Nanum Gothic', sans-serif;
  color: #414141;
}

#fold p {
  margin-top: 45vh;
}

/*css for scroll (in webkit)*/
body::-webkit-scrollbar{width: 10px;}
body::-webkit-scrollbar-track {background-color:white;}
body::-webkit-scrollbar-thumb {background-color:#414141;border-radius: 5px;}
body::-webkit-scrollbar-thumb:hover {background: #555;}
body::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
height:10px; background:white;}
#index::-webkit-scrollbar{width: 5px;}
#index::-webkit-scrollbar-track {background-color:white;}
#index::-webkit-scrollbar-thumb {background-color:#BEBEBE;border-radius: 10px;}
#index::-webkit-scrollbar-thumb:hover {background: #555;}
#index::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
height:5px; background:white;}
