.position{
	background-color: white;
	overflow: hidden;
	margin-bottom: 30px;
	border-radius: 3px;
}

#main h2{
	font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-left: 10px;
    margin: 0;
    background-color:rgb(211, 237, 245);
    color: black;
    line-height: 52px;
    height: 52px;
}

.human img{
	float: left;	

}

#info li{
	word-break:break-all;
}

#main ul{
	list-style-image: url("../images/list-img.png");
	float: left;
}

#main li{
	margin: 13px 0;
	margin-left: 30px;
}

.human{
	margin: 10px;
	overflow: hidden;
}

.photo{
	display: inline;
	float: left;
}

.name{
	margin-top: 5px !important;
	font-weight: bold;
	font-size: 20px;
}

#edit{
	float: right;
	margin-top: 159px
}

.photo{
	width: 140px;
	height: 175px;
}

#interest{
	float: right;
	width: 550px;
	height: 175px;
}

#interest li{
	line-height: 25px;
	margin-top: 5px;
}

#interest li:nth-of-type(1){
	list-style: none;
	margin: 0px 0px 0px 12px;
}

#info{
	float: left;
	width: 435px;
	height: 175px;
}
