.menu a {
  background-color: #765D69;
}

#res:hover, #gal:hover, #pub:hover, #mem:hover, #not:hover, #cou:hover {
	background-color: black;
}

#not {
	background-color: #FCD0BA;
}

#cou {
	background-color: #8FB9A8;
}

#gal, #pub, #mem {
	background-color: #ff6f69;
}
